*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  color: #54483A;
  line-height: 1;
  font-style: italic; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  padding: 1.5rem 2rem;
  color: white;
  background-color: #c69963;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: background-color .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sl {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 3rem; }

.mb-hg {
  margin-bottom: 4rem; }

.sidebar {
  background-color: #c69963;
  color: white;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/ -1; }

.header {
  background-color: #54483A;
  grid-column: full-start /   col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 /   full-end; }

.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 6rem 0;
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    grid-column: 1/2;
    grid-row: 1/-1;
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-color: #54483A;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover; }
  .story__pictures--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2/6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .story__pictures--2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 8vh 6vw;
  display: grid;
  align-content: center;
  justify-items: start; }

.story-text {
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: black; }

.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  padding-top: 5rem; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f6;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2); }
  .home__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1/2; }
  .home__name {
    grid-column: 1 / -1;
    width: 80%;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #101d2c;
    transform: translateY(-2.5rem);
    font-family: "Josefin Sans", sans-serif; }
  .home__like {
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    grid-column: 2 /3;
    grid-row: 1/2;
    justify-self: end;
    margin: 1rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 300; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: #aaa;
  grid-column: full-start / full-end; }

.footer {
  grid-column: full-start / full-end; }
